.component {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  margin: 10px;
}
.btnGroup {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 20px);
  @media (min-width: 768px) {
    position: static;
  }
}
.search {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media (min-width: 768px) {
    position: static;
  }
}
.content {
  margin-bottom: 10px;
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
}
